*.depend
*.layout
/bin/*
/obj/*
/lib/*
/tests/data/*
*.idb
*.pdb
*.log
*.suo
*.opensdf
*.sdf
*~
ipch
*.user
!output.dir
/docs/out/*
/docs/*.toc
.DS_Store
xcuserdata
!*.data
/msvc2010/Debug/*
/msvc2010/Release/*
/msvc2010/lighter_test/Debug/*
/msvc2010/lighter_test/Release/*
